<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Bem-vindo, <%= user.username %></h1>

    <% if (user.is_admin) { %>
        <a href="/manage-users">Gerenciar Usuários</a>
    <% } %>

    <a href="/logout">Logout</a>
</body>
</html>
