<!DOCTYPE html>
<html>
<head>
    <title>Registrar</title>
</head>
<body>
    <h1>Registrar</h1>
    <% if (error_msg) { %>
        <p><%= error_msg %></p>
    <% } %>
    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="Usuário" required>
        <input type="password" name="password" placeholder="Senha" required>
        <label for="isAdmin">Administrador?</label>
        <input type="checkbox" id="isAdmin" name="isAdmin" value="true">
        <button type="submit">Registrar</button>
        <a href="/manage-users">Gerenciar Usuários</a>
        <a href="/">Inicio</a>
    </form>
</body>

</html>
