<!DOCTYPE html>
<html>
<head>
    <title>Registrar</title>
</head>
<body>
    <h1>Registrar</h1>
    <% if (errors) { %>
        <div>
            <% errors.forEach(error => { %>
                <p><%= error.msg %></p>
            <% }) %>
        </div>
    <% } %>
    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="Usuário" required>
        <input type="password" name="password" placeholder="Senha" required>
        <input type="text" name="setor" placeholder="Setor" required>
        <button type="submit">Registrar</button>
    </form>
</body>
</html>
